html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #151D29; }
    body[data-display="none"] {
      background: #3498db; }
  